﻿@model IEnumerable<Task02onCore3.Models.Task02.Group.GroupIndexDTOModel>

@{
    ViewData["Title"] = "Index";
    int i = 1;
}

<h1>My groups</h1>
<h1></h1>
<div>
    <a asp-action="Create">
        <img src="~/img/add.png" class="img-btn" /> Create
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                №
            </th>
            <th>
                Name
            </th>
            <th>
                Status
            </th>
            <th>
                Links
            </th>
            <th>
                Redirected
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr data-groupid="@item.Id" id="@item.Id">
            <td>
                @i
                @{ i++;}
            </td>
            <td>
                <a href="@Url.Action("Index", "Link", new { groupID = item.Id })">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            <td>
                    @{ if (item.Status)
                        {
                            <div data-groupid="@item.Id" class="changestatus toggleButton toggleButtonOn">
                                ON
                            </div>
                        }
                        else
                        {
                            <div data-groupid="@item.Id" class="changestatus toggleButton toggleButtonOff">
                                OFF
                            </div>
                        }
                    }
            </td>
            <td>
               @item.LinkCount
            </td>
            <td>
                @item.LinksRedirected
            </td>
            <td>
                <button type="button" data-id="@item.Id" class="btn btn-danger btn-close deleteItem">
                    X
                </button>

            </td>
        </tr>
}
    </tbody>
</table>
<div id="msg-box" aria-live="polite" aria-atomic="true" style="position: absolute; bottom: 100px; right:100px; min-height: 500px;">
    <div style="position: absolute; bottom: 0; right:0;">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000" style="width: 400px">
            <div class="toast-header" style="background-color: #dff0d8">
                <strong class="mr-auto">Group deleted</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body msg">
            </div>
        </div>
    </div>
</div>

<script>
    function DeleteGroup(groupID) {
            $.ajax({
                url: "api/group/"+groupID,
                contentType: "application/json",
                method: "DELETE",
                success: function (group) {
                    $('tr[data-groupid="' + group.id + '"]').remove();
                    $(".msg").text("You deleted a group " + group.name + ".");
                    $('.toast').toast("show");
                }
            })
    }
    function ChangeStatus(groupID) {
        $.ajax({
            url: "api/group/" + groupID,
            contentType: "application/json",
            method: "PUT",
            success: function (group) {
                var setter = ($('.changestatus[data-groupid="' + group.id + '"]'));
                if (setter.hasClass("toggleButtonOn")) {
                    setter.text("OFF");
                    $(".msg").text("You have disabled a group " + group.name + ".");
                }
                if (setter.hasClass("toggleButtonOff")) {
                    setter.text("ON");
                    $(".msg").text("You activated a group " + group.name + ".");
                }
                setter.toggleClass("toggleButtonOn");
                setter.toggleClass("toggleButtonOff");
                $('.toast').toast("show");
            }
        })
    }

    //on delete button click trigger
    $("body").on("click", ".deleteItem", function () {
        var groupID = $(this).data("id");
        DeleteGroup(groupID);
    })

    //on changestatus button click trigger
    $("body").on("click", ".changestatus", function () {
        var groupID = $(this).data("groupid");
        var btn = $(this);
        btn.text("...");
        ChangeStatus(groupID);
    })
</script>
