﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* ADD NEW CLASSES HERE*/
.toggleButtonOn, .toggleButtonOff {
    width: 100px;
    height: 25px;
    color: white;
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none;
}

.toggleButtonOn {
    text-align: right;
    background-color: green;
}

.toggleButtonOff {
    text-align: left;
    background-color: red;
}

a:hover > .toggleButton, a:active > .toggleButton, a:visited > .toggleButton, a > .toggleButton {
    color: white;
    text-decoration: none;
}

.toogleButtonCaption {
    padding: 0px;
    margin: 0px;
    font-size: 15pt;
}

.CheckBoxSel {
    display: none;
}

.btn > a {
    color: white;
}

.btn > a:hover {
    color: white;
}

.table {
    margin-top: 20px;
}

.btn-top {
    margin-bottom: 100px;
}

.img-meme {
    width: 490px;
    height: 336px;
}

button > a {
    color: white;
}

