﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <h1>Try it now without group!</h1>
    <br />
    <br />

    <!--modal frame-->
    <div id="shortlink" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <h1>Yeap, it's easy!</h1>
                <div class="input-group mb-3">
                    <input id="shortLinkContent" type="text" class="form-control">
                    <div class="input-group-append">
                        <button id="copy-button" onclick="copyLink()" class="btn btn-outline-secondary" type="button">COPY</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="input-group mb-3">
        <input id="longLink" type="text" class="form-control" placeholder="Your long link" aria-label="Short link">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary btn-link-create" type="button">SHORTEN!</button>
        </div>
    </div>
</div>
<script>
    function copyLink() {
        var copyLink = document.getElementById("shortLinkContent");
        copyLink.select();
        document.execCommand("copy");
    }

    function CreateGuestLink(longLink) {
        $.ajax({
            url: "api/guest/",
            data: JSON.stringify({LongLink: longLink}),
            contentType: "application/json",
            method: "PUT",
            success: function (link) {
                var shortLink = link.shortLink;
                $('#shortLinkContent').val(shortLink);
                $('#shortlink').modal('show');
            }
        })
    }

    $("body").on("click", ".btn-link-create", function () {
        var longLink = document.getElementById("longLink").value;
        CreateGuestLink(longLink);
    })
</script>