﻿@model Task02onCore3.Models.Task02.LinkModel

@{
    ViewData["Title"] = "Create";
}

    <h1>Adding a new link</h1>

<hr />
<div>
    <img src="~/img/back.png" class="img-btn img-btn-back" onclick="history.back()" />
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LongLink" class="control-label">Long link</label>
                <input asp-for="LongLink" class="form-control" />
                <span asp-validation-for="LongLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-route-GroupId="@ViewBag.GroupId" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
