﻿@model IEnumerable<Task02onCore3.Models.Task02.LinkModel>

@{
    ViewData["Title"] = "Index";
}

<h1>My links</h1>
<div>
    @{
        if (ViewBag.GroupId != null)  //links of the group
        {
            <a asp-controller="Group" asp-action="Index" asp-route-GroupId="@ViewBag.GroupId">
                <img src="~/img/back.png" class="img-btn img-btn-back" />
            </a>
        }
    }
</div>
@{
    if (ViewBag.GroupId != null)  //all links
    {
        <p class="add-btn">
            <a asp-action="Create" asp-route-GroupId="@ViewBag.GroupId">
                <img src="~/img/add.png" class="img-btn" /> Создать
            </a>
        </p>
    }
}
@*<p>
        <a asp-action="Create" asp-route-GroupId="@ViewBag.GroupId">Create New</a>
    </p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Long link
            </th>
            <th>
                Short link
            </th>
            <th>
                Redirected
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-linkid="@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a target="_blank" href="@Html.DisplayFor(modelItem => item.LongLink)">@Html.DisplayFor(modelItem => item.LongLink)</a>
                </td>
                <td>
                    <a target="_blank" href="@Html.DisplayFor(modelItem => item.ShortLink)">@Html.DisplayFor(modelItem => item.ShortLink)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RedirectedCount)
                </td>
                <td>
                        @{ if (item.Status)
                            {
                                <div data-linkid="@item.Id" class="changestatus toggleButton toggleButtonOn">
                                    ON
                                </div>
                            }
                            else
                            {
                                <div data-linkid="@item.Id" class="changestatus toggleButton toggleButtonOff">
                                    OFF
                                </div>
                            }
                        }
                </td>
                <td>
                    <button type="button" data-id="@item.Id" class="btn btn-danger btn-close deleteItem">
                        X
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="msg-box" aria-live="polite" aria-atomic="true" style="position: absolute; bottom: 100px; right:100px; min-height: 500px;">
    <div style="position: absolute; bottom: 0; right:0;">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000" style="width: 400px">
            <div class="toast-header" style="background-color: #dff0d8">
                <strong class="mr-auto">Link deleted</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body msg">
            </div>
        </div>
    </div>
</div>

<script>
    function DeleteLink(linkID) {
            $.ajax({
                url: "api/link/"+linkID,
                contentType: "application/json",
                method: "DELETE",
                success: function (link) {
                    $('tr[data-linkid="' + link.id + '"]').remove();
                    $(".msg").text("You have deleted the link " + link.name + ".");
                    $('.toast').toast("show");
                }
            })
    }

    function ChangeStatus(linkID) {
        $.ajax({
            url: "api/link/" + linkID,
            contentType: "application/json",
            method: "PUT",
            success: function (link) {
                var setter = ($('.changestatus[data-linkid="' + link.id + '"]'));
                if (setter.hasClass("toggleButtonOn")) {
                    setter.text("OFF");
                    $(".msg").text("You have disabled the link " + link.name + ".");
                }
                if (setter.hasClass("toggleButtonOff")) {
                    setter.text("ON");
                    $(".msg").text("You have activated the link " + link.name + ".");
                }
                setter.toggleClass("toggleButtonOn");
                setter.toggleClass("toggleButtonOff");
                $('.toast').toast("show");
            }
        })
    }

    // on delete button click trigger
    $("body").on("click", ".deleteItem", function () {
        var linkID = $(this).data("id");
        //alert("ID элемента: " + groupID);
        DeleteLink(linkID);
    })

    //on changestatus button click trigger
    $("body").on("click", ".changestatus", function () {
        var linkID = $(this).data("linkid");
        var btn = $(this);
        btn.text("...");
        ChangeStatus(linkID);
    })
</script>

